.calendar-container {
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calendar {
    width: 100%; 
    max-width: 1200px; 
    height: 100%;
    border-radius: 20px;
}
