@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer base {
  @font-face {
    font-family: 'playpen';
    src: url('./fonts/PlaypenSans.ttf') format('truetype');
  }
  @font-face {
    font-family: 'openSans';
    src: url('./fonts/OpenSans.ttf') format('truetype');
  }
} */